body{
    margin: 0 10%;
} 
.about>div, .projectlayout{
    display: flex;
    gap: 50px;
} 
#myphoto{
    width: 60%;
    height: auto;
}

/* .projectlayout{
    display: flex;
    gap: 30px;
} */
.projects img{
    width: 50%;
}

h1{
    text-align: center;
    border-top: 2px solid black;
    padding-top: 10px;
}

section.skills>div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project4>div h3{
    border: 2px solid black;
    padding: 5% 20%;
    font-size: 400%;
}

footer>div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0px;
}
@media (max-width: 575px){
    .projects img{
        width: 100%;
    }
    #myphoto{
        width: 100%;
        padding: 0px;
        margin-bottom: -20%;
    }
    .about>div, .projectlayout{
        display: flex;
        /* gap: 50px; */
        flex-wrap: wrap;
    } 
    body{
        margin: 3%;
    }
}
@media (min-width:576px) and (max-width: 700px){
    .projects img{
        width: 50%;
    }
    #myphoto{
        width: 50%;
    }
    body{
        margin: 3%;
    }
    .about>div, .projectlayout{
       padding: 0px;
       margin: 0px;
    } 
}